<?xml version="1.0"?>
<config>
    <modules>
        <MobWeb_MultipleBankTransferPaymentMethods>
            <version>0.0.1</version>
        </MobWeb_MultipleBankTransferPaymentMethods>
    </modules>
    <global>
        <helpers>
            <multiplebanktransferpaymentmethods>
                <class>MobWeb_MultipleBankTransferPaymentMethods_Helper</class>
            </multiplebanktransferpaymentmethods>
        </helpers>
        <blocks>
            <multiplebanktransferpaymentmethods>
                <class>MobWeb_MultipleBankTransferPaymentMethods_Block</class>
            </multiplebanktransferpaymentmethods>
        </blocks>
        <models>
            <multiplebanktransferpaymentmethods>
                <class>MobWeb_MultipleBankTransferPaymentMethods_Model</class>
            </multiplebanktransferpaymentmethods>
        </models>
    </global>
    <default>
        <payment>
            <banktransfer2>
                <model>multiplebanktransferpaymentmethods/method_banktransfer2</model>
            </banktransfer2>
            <banktransfer3>
                <model>multiplebanktransferpaymentmethods/method_banktransfer3</model>
            </banktransfer3>
            <banktransfer4>
                <model>multiplebanktransferpaymentmethods/method_banktransfer4</model>
            </banktransfer4>
            <banktransfer5>
                <model>multiplebanktransferpaymentmethods/method_banktransfer5</model>
            </banktransfer5>
        </payment>
    </default>
</config>